@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
  --YouTube: hsl(348, 97%, 39%);

  --Very-Dark-Blue-BG: hsl(230, 17%, 14%);
  --Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
  --Desaturated-Blue-Text: hsl(228, 34%, 66%);
  --White-Text: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--Very-Dark-Blue-BG);
}

body.dark {
  background-color: white;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.first {
  display: flex;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: flex;
  gap: 5rem;
  align-items: center;
}

.main {
  margin: 2rem 8rem;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  /* left: 0; */
  right: 0;
  /* bottom: 0; */
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 4rem;
  height: 2rem;
  margin-top: -1rem;
  background-image: linear-gradient(hsl(210, 78%, 56%),hsl(146, 68%, 55%));
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--Very-Dark-Blue-BG);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.second {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border: 5px solid hsl(203, 89%, 53%);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0.6rem;
  background-color: hsla(228, 28%, 20%, 0.9);
  width: 18rem;
  height: 15rem;
  color: var(--Desaturated-Blue-Text);
  padding: 1rem 2rem;
  align-items: center;
}

.socials {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
}

.at {
  font-size: 20px;
}

.rate {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.rate img {
  width: 0.5rem;
  height: 0.5rem;
}

.socials p {
  font-size: 12px;
}

.followers {
  text-align: center;
}

.followers h1 {
  font-size: 50px;
  color: white;
}

.followers p {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2rem;
}

.rate {
  margin-top: 1rem;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}

.rate img {
  height: 0.5rem;
  width: 0.5rem;
}

.rate p {
  color: var(--Lime-Green);
  font-size: 14px;
}

.box-4 {
  border-top-color: var(--YouTube);
}

.rate-4 p {
  color: var(--YouTube);
}

.box-3 {
  /* background-image:  linear-gradient(hsl(37, 97%, 70%),hsl(329, 70%, 58%)); */
}

.third {
  margin-top: 4rem;
}
.fourth {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.box-four {
  padding: 1.5rem 2rem;
  background-color: hsla(228, 28%, 20%, 0.9);
  width: 18rem;
  color: white;
  margin-top: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
}

.box-four-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-four-second {
  display: flex;
  justify-content: space-between;
}

.box-four-second div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.box-four-second div img {
  width: 0.5rem;
  height: 0.5rem;
}

.box-four-first p {
  color: var(--Desaturated-Blue-Text);
  font-weight: 700;
  font-size: 12px;
}

.box-four-second h2 {
  font-size: 35px;
}

.box-four-second div p {
  font-size: 14px;
  color: var(--Lime-Green);
}

.fourth-1 .box-four:nth-child(2) div:nth-child(2) p {
  color: var(--Bright-Red);
}

.fourth-2 .box-four:nth-child(3) div:nth-child(2) p {
  color: var(--Bright-Red);
}
.fourth-2 .box-four:nth-child(4) div:nth-child(2) p {
  color: var(--Bright-Red);
}

.first div:nth-child(1) {
  color: var(--White-Text);
}

.first div p {
  color: var(--Desaturated-Blue-Text);
  font-weight: 400;
}

.third h1 {
  color: var(--White-Text);
}

.switch p{
  color: var(--Desaturated-Blue-Text);
  font-weight: 400;
}

.title.dark {
  color: hsl(230, 17%, 14%);
}


.box-1.dark{
  background-color: hsl(227, 47%, 96%);
  color: hsl(228, 12%, 44%);
  font-weight: 700;
}

.box-2.dark{
  background-color: hsl(227, 47%, 96%);
  color: hsl(228, 12%, 44%);
  font-weight: 700;
}
.box-3.dark{
  background-color: hsl(227, 47%, 96%);
  color: hsl(228, 12%, 44%);
  font-weight: 700;
}
.box-4.dark{
  background-color: hsl(227, 47%, 96%);
  color: hsl(228, 12%, 44%);
  font-weight: 700;
} 

.followers-h1.dark{
  color: black;
}

.overview.dark{
  color: hsl(228, 12%, 44%) ;
  
  
}

.box-four.dark{
  background-color: hsl(227, 47%, 96%);
}

.number-dark{
  color: hsl(230, 17%, 14%);
}